.lenker{
    --vn-lenker-color: var(--theme-color);
    color: var(--vn-lenker-color); 
    text-decoration: none;
    font-family: var(--theme-font)
 }


.underline {
    text-decoration: underline;
}

.hover:hover .underline{
    text-decoration: none;
} 





