/* Variable that can be manipulated by theme go into global scope */


/* https://stenciljs.com/docs/config#globalstyle */

/* font stuff */
@import 'font-face.styl'

/* CSS variables */
:root
    // theme p1
    --theme-p1 #27777A

    // theme p2
    --theme-p2 #50F6C1
    --theme-p2-15-opacity: rgba(80, 246, 193, 0.15)

    // theme p3
    --theme-p3 #FBECCE
    --theme-p3-hover-border #ECBD60

    // theme p4
    --theme-p4-focus-shadow #EEB33C
    --theme-p4 #FFFFFF
    --theme-p4-focus-bg #FFFFFF
    --theme-p4-focus-shadow #27777A

    // theme general
    --theme-font "apercu"
    --theme-font-medium "apercu-medium"
    --theme-font-bold "apercu-bold"
    --theme-font-light "apercu-light"
    --theme-text-color rgba(0, 0, 0, 0.87)
    --theme-padding 0
