/* Variable that can be manipulated by theme go into global scope */


/* https://stenciljs.com/docs/config#globalstyle */
@font-face {
    font-family: 'apercu';
    src: url('./fonts/apercu-regular.eot');
    src: url('./fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/apercu-regular.woff') format('woff'),
         url('./fonts/apercu-regular.woff2') format('woff2'),
         url('./fonts/apercu-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'apercu';
    src: url('./fonts/apercu-medium.eot');
    src: url('./fonts/apercu-medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/apercu-medium.woff') format('woff'),
         url('./fonts/apercu-medium.woff2') format('woff2'),
         url('./fonts/apercu-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'apercu';
    src: url('./fonts/apercu-bold.eot');
    src: url('./fonts/apercu-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/apercu-bold.woff') format('woff'),
         url('./fonts/apercu-bold.woff2') format('woff2'),
         url('./fonts/apercu-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'apercu';
    src: url('./fonts/apercu-light.eot');
    src: url('./fonts/apercu-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/apercu-light.woff') format('woff'),
         url('./fonts/apercu-light.woff2') format('woff2'),
         url('./fonts/apercu-light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}


:root {
    --theme-p1: #27777A;
    --theme-p2: #50F6C1;
    --theme-p3: #FBECCE;
    --theme-p4: white;
    --theme-font: "apercu";
    --theme-text-color: rgba(0,0,0,0.87);
    --theme-padding: 0;
}

