/* Variable that can be manipulated by theme go into global scope */


/* https://stenciljs.com/docs/config#globalstyle */

:root {
    --theme-p1: #27777A;
    --theme-p2: #50F6C1;
    --theme-p3: #FAE9C1;
    --theme-text-color: rgba(0,0,0,0.87);
    --theme-padding: 0;
}