/* Variable that can be manipulated by theme go into global scope */


/* https://stenciljs.com/docs/config#globalstyle */

/* font stuff */
@import 'font-face.styl'

/* CSS variables */
:root
    --theme-p1 #27777A
    --theme-p2 #50F6C1
    --theme-p3 #FBECCE
    --theme-p4 #FFFFFF
    --theme-font "apercu"
    --theme-text-color rgba(0, 0, 0, 0.87)
    --theme-padding 0
