
.btn {
    background-color: var(--vn-button-color);
    color: var(--theme-text-color);
    display: inline-block;
    font-family: sans-serif;
    font-weight: 500;
    padding: 10px 20px ;
    text-decoration: none;
    text-transform: uppercase;
}    


.color-p1 {
    background-color: var(--theme-p1)
}

.color-p2 {
    background-color: var(--theme-p2)
}

.color-p3 {
    background-color: var(--theme-p3)
}

.size-small {
    padding: 5px 10px ;
}

.size-large {
    padding: 20px 30px ;
}