.vn-button {
    --vn-button-color: var(--theme-color);
    background-color: var(--vn-button-color);
    border-color: var(--vn-button-color);
}

.vn-button.size-small {
    min-width: 1.3rem;
}

.vn-button.size-medium {
    min-width: 2.6rem;
}

.vn-button.size-big {
    height: 4rem;
}

.vn-button.size-giant {
    height: 6rem;
}

.vn-button.vn-color-default {
    color: var(--theme-color)
}

.vn-button.vn-color-grey {
    color: grey;
}

.vn-button.vn-color-red {
    color: red;
}