@import 'functions/calc.styl'

.btn
    background-color: var(--vn-button-color);
    color: var(--theme-text-color);
    display: inline-block;
    font-family: var(--theme-font);
    font-size: 0.917em;
    padding: 0.625em 1.250em;
    text-decoration: none;
    text-transform: uppercase;

.size-small
    padding: 0.375em 1.563em;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 1em;

.size-large
    padding: 1.313em 1.938em;
    font-size: 1.048em;
    text-transform: none;
    line-height: 1.750em;

.color-p1
    background-color: var(--theme-p1)

.color-p2
    background-color: var(--theme-p2)

.color-p3 {
    background-color: var(--theme-p3)
    &:hover {
        border: 0.188em solid var(--theme-p3-hover-border)
        padding: 1.125em 1.750em;
    }
    &:focus {
        border: 2px solid var(--theme-p4)
        box-shadow: 0 0 1px 2px var(--theme-p3-focus-shadow)
        padding: 1.188em 1.813em;
    }
}

.color-p4 {
    background-color: var(--theme-p4)
    opacity .7
    padding: 0.250em 0.688em
    &:hover {
        text-decoration: var(--theme-text-color) underline;
    }
    &:focus {
        background-color: var(--theme-p4-focus-bg)
        box-shadow: 0 0 1px 2px var(--theme-p4-focus-shadow)
    }
}
