@import '../../globals/stylus-methods/index.styl'

$defaults
  color var(--theme-text-color)
  font-family: var(--theme-font)
  font-weight: 400
  letter-spacing: 0.25px

h1
  @extend $defaults
  font-family: var(--theme-font-light)
  font-weight: 300
  font-size: em(100.63)
  letter-spacing: -1.5px
  line-height: em(120, 100.63)

h2
  @extend $defaults
  font-size: em(67.16)
  font-weight: 500
  letter-spacing: -0.5px
  line-height: em(80, 67.16)

h3
  @extend $defaults
  font-size: em(50.32)
  letter-spacing: normal
  line-height: em(61, 50.32)

h4
  @extend $defaults
  font-size: em(35.64)
  line-height: em(43, 35.64)

h5
  @extend $defaults
  font-size: em(25.16)
  letter-spacing: normal
  line-height: em(30, 25.16)

h6
  @extend $defaults
  font-family: var(--theme-font-medium)
  font-size: em(20.97)
  font-weight: 500
  line-height: em(25, 20.97)
