.vn-content-title 
    --vn-content-title-color: var(--theme-color);
    color: var(--vn-content-title-color); 

.title
    font-family: apercu;
    border-left: 4px solid var(--theme-p2);
    padding-left: 15px;
    padding-top: 4px;
     

