@import '../../globals/stylus-methods/index.styl'

.checkbox 
    cursor: pointer;
    margin: 0
    // border: 1px solid red
    position: relative
    background: url(./images/checkmark.svg);

input 
    outline: none;
    background: url(./images/checkmark.svg);

img  
svg
    display: inline-block
    width: 20px;
    height: 18px;
    position absolute
    top -0px
    left -1.5px
    fill: none
    background: url(./images/checkmark.svg);
    // border: 1px solid red


input[type="checkbox"] 
    top 7.5px
    left -5px
    background-color: white
    border: 2px solid var(--theme-p1)
    border-radius: 2px
    cursor: pointer
    position: relative
    width: em(24)
    height: em(24)
    -webkit-appearance: none;
    background: url(./images/checkmark.svg);

    &:checked
        // background-color: var(--theme-p1)
        
        & + svg
            fill: var(--theme-p4);


.grey input[type="checkbox"]
    border-color: var(--theme-radio-color);

    &:checked
        // background: var(--theme-radio-color)
        fill: red
        display inline-block