// imports
@import '../../globals/stylus-methods/index.styl'

// variables
$lines = 10

// mixins
pos($pos, $num, $span = false)
  if $span
    grid-column-{$pos}: span $num
  else
    grid-column-{$pos}: $num

// CSS
.grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: repeat($lines, minmax(1rem, auto))
  grid-gap 30px
  max-width 1140px
  margin: 0 auto;

  &>*
    border 1px dashed black

  for $s in 1..12
    >.start-{$s}
      pos(start, $s)
    // >.start-{$s}-span
    //   pos(start, $s, true)

  for $e in 0..12
    >.end-{$e+1}
      pos(end, $e)
    >.end-{$e+1}-span
      pos(end, $e, true)

  for $l in 1..$lines
    >.line-{$l}
      grid-row-start: $l
