// imports
@import '../../globals/stylus-methods/index.styl'

// variables
$lines = 5

// mixins
pos($pos, $num, $span = false)
  if $span
    grid-column-{$pos}: span $num
  else
    grid-column-{$pos}: $num

// CSS
.grid
  display: grid
  grid-template-columns: repeat(var(--grid-columns), 1fr)
  grid-template-rows: repeat($lines, minmax(1rem, auto))
  grid-gap 30px
  max-width var(--grid-max-width)
  margin: 0 auto;
  border 1px solid black

  &>*
    border 1px dashed black

  >[content-left]
    grid-column-start: 1
    grid-column-end span 8

  >[content-right]
    grid-column-start: 5
    grid-column-end span 8

  >[content-item]
    grid-column span 8

  >[nav-left]
    grid-column-start: 1
    grid-column-end: span 4

  >[nav-right]
    grid-column-start: 9
    grid-column-end: span 4

  >[nav-item]
    grid-column span 4

  for $x in 1..13
    >[grid-start-{$x}]
      grid-column-start: $x

      &[grid-start-span]
        grid-column-start: span $x

    >[grid-end-{$x}]
      grid-column-end: $x

      &[grid-end-span]
        grid-column-end: span $x
