<vn-grid>
    <vn-header size="2" content-left>Ask Yourself: Will Anyone Care About This Content?</vn-header>
    <vn-header size="5" content-left>It’s an important question to ask in any content strategy project, and it will ultimately make your work—and life—so much easier.</vn-header>
    <vn-text type="body-to" content-left>Brain Traffic | February 1, 2018</vn-text>
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
</vn-grid>