<vn-header size="2">Default</vn-header>
<vn-radio>
    <vn-text type="button">En knapp</vn-text>
</vn-radio>
<br>
<vn-radio>
    <vn-text type="button">En knapp til</vn-text>
</vn-radio>
<br>
<vn-radio>
    <vn-text type="button">Enda en knapp</vn-text>
</vn-radio>

<vn-header size="2">Random</vn-header>
<vn-radio name="random">
    Male
</vn-radio>
<br>
<vn-radio name="random">
    <p>Female</p>
</vn-radio>
<br>
<vn-radio name="random">
    <p>Hen</p>
</vn-radio>
<br>
<vn-radio name="random">
    <p>Other</p>
</vn-radio>