$defaults
  color var(--theme-text-color)

h1
  @extend $defaults
  font-family: var(--theme-font)

h2
  @extend $defaults
  font-family: var(--theme-font)

h3
  @extend $defaults
  font-family: var(--theme-font)
