$defaults
  color var(--theme-text-color)

h1
  @extend $defaults
  font-family: var(--theme-font-light)
  font-weight: 300;
  font-size: 6.287em;

h2
  @extend $defaults
  font-family: var(--theme-font)
  font-size: 67.16px;
  font-weight: 500;

h3
  @extend $defaults
  font-family: var(--theme-font)
  font-size: 50.32px;
  font-weight: 400

h4 
  @extend $defaults
  font-family: var(--theme-font)
  font-size: 35.64px;
  font-weight: 400


h5
  @extend $defaults
  font-family: var(--theme-font)
  font-size: 25.16px;
  font-weight: 400


h6 
  @extend $defaults
  font-family: var(--theme-font-medium)
  font-size: 20.97px;
  font-weight: 500



