@import '../../globals/stylus-methods/index.styl'

$defaults
  color var(--theme-text-color)
  font-family: var(--theme-font)
  font-weight: 400
  letter-spacing: 0.25px

$margin
  margin-bottom: em(30)

h1
  @extend $defaults
  @extend $margin
  font-family: var(--theme-font-light)
  font-weight: 300
  font-size: em(100.63)
  letter-spacing: -1.5px
  line-height: 120/100.63

h2
  @extend $defaults
  @extend $margin
  font-size: em(67.16)
  font-weight: 500
  letter-spacing: -0.5px
  line-height: 80/67.16

h3
  @extend $defaults
  @extend $margin
  font-size: em(50.32)
  letter-spacing: normal
  line-height: 61/50.32

h4
  @extend $defaults
  @extend $margin
  font-size: em(35.64)
  line-height: 43/35.64

h5
  @extend $defaults
  @extend $margin
  font-size: em(25.16)
  letter-spacing: normal
  line-height: 30/25.16

h6
  @extend $defaults
  @extend $margin
  font-family: var(--theme-font-medium)
  font-size: em(20.97)
  font-weight: 500
  line-height: 25/20.97

.body-en
  @extend $margin
  font-family: var(--theme-font)
  font-size: em(16.77)
  letter-spacing: 0.5px
  line-height: 28/16.77

.body-to
  @extend $margin
  font-family: var(--theme-font)
  color: var(--theme-text-color-brighter)
  font-size: em(14.68)
  letter-spacing: 0.25px
  line-height: 20/14.68

.subtitle-en
  @extend $margin
  font-family: var(--theme-font)
  color: var(--theme-text-color-brighter)
  font-size: em(16.77)
  letter-spacing: 0.15px
  line-height: 24/16.77
  

.subtitle-to
  @extend $margin
  font-family: var(--theme-font-medium)
  color: var(--theme-text-color-brighter)
  font-size: em(14.68)
  font-weight: 500
  letter-spacing: 0.1px
  line-height: 24/14.68

.button
  @extend $margin
  font-family: var(--theme-font-medium)
  font-size: em(14.68)
  font-weight: 500
  letter-spacing: 1.25px
  line-height: 16/14.68
  text-transform: uppercase

.caption
  @extend $margin
  font-family: var(--theme-font)
  color: var(--theme-text-color-brighter)
  font-size: em(12.58)
  letter-spacing: 0.4px
  line-height: 16/12.58

.overline
  @extend $margin
  font-family: var(--theme-font-medium)
  color: var(--theme-text-color-brighter)
  font-size: em(12.58)
  font-weight: 500
  letter-spacing: 2px
  line-height: 16/12.58
  text-transform: uppercase
