// Stylus er aktivert her

// Dette er til en vn-input komponent
@import '../../globals/stylus-methods/index.styl' 

.input
    font-family: var(--theme-font)
    font-weight: 500;
    

input
    padding: em(17) em(16);
    border: em(1) solid var(--theme-input-color);
    border-radius: em(3);
    letter-spacing: em(0.1)
    line-height: em(24)
    box-sizing: border-box;
    max-width: 359px
    

div
    display: flex
    flex-direction: column
    

    >label
        line-height: em(28)
        